@import url("index.css");

.main__playlist {
    display: flex;
    align-items: center;
    color: white;
    background-color: #0b0c0c;
    padding-top: 50px;
}

.playlist__image {
    height: 200px;
    margin: 20px;
}

.playlist__head {
    font-size: 15px;
    margin: 20px;
}

.playlist__name {
    font-size: 60px;
    margin: 20px;
}

.playlist__description {
    font-size: 15px;
    margin: 20px;
}

.main__table {
    padding-bottom: 100px;
    width: 100%;
    margin-top: 20px;
    border-spacing: 0 10px;
    color: gray;
}

.table__head {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    text-align: start;
}

.table__number {
    text-align: center;
    font-size: 15px;
}

.table__item {
    padding: 5px;
}

.table__items:hover {
    background-color: grey;
    color: white;
}

.table__content {
    display: flex;
}

.table__track {
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

.table__author {
    margin-top: 5px;
}